
*
{

    background-image: url(https://fondosmil.com/fondo/9849.jpg);
}

h1{
    font-family: 'Courier New', Courier, monospace; color: brown; text-align: center;
}

.destacar {
        font-family: 'Courier New', Courier, monospace; size: 2px;

}

