
*
{

    background-image: url"(https://img.freepik.com/foto-gratis/primer-plano-muro-hormigon-viejo-blanco_23-2147856094.jpg?size=626&ext=jpg)";
}

h1{
    font-family: 'Courier New', Courier, monospace; color: brown; text-align: center;
}

.destacar {
        font-family: 'Courier New', Courier, monospace; size: 2px;

}

